[Desktop Entry]
Version=1.0
Type=Link
Name=Bringing CAN interface up - eLinux.org
Comment=
Icon=gnome-fs-bookmark
URL=https://elinux.org/Bringing_CAN_interface_up
